page-home {
  #Second_Floor {
  .cls-1 {
    isolation: isolate;
  }

  .cls-2 {
    fill: #abb6bb;
  }

  .cls-3 {
    fill: #acb6bc;
  }

  .cls-4 {
    fill: #7c858a;
  }

  .cls-5 {
    fill: #b2ba38;
  }

  .cls-6 {
    fill: #7f8725;
  }

  .cls-7 {
    fill: #bebebe;
  }

  .cls-8 {
    fill: #bfbfbf;
  }

  .cls-9 {
    fill: #858585;
  }

  .cls-10 {
    fill: #cd7840;
  }

  .cls-11 {
    fill: #ce7840;
  }

  .cls-12 {
    fill: #95562a;
  }

  .cls-13 {
    fill: #9fb0c7;
  }

  .cls-14 {
    fill: #9fb0c8;
  }

  .cls-15 {
    fill: #748193;
  }

  .cls-16 {
    font-size: 37.38px;
    fill: #231f20;
    font-family: MyriadPro-Regular, Myriad Pro;
  }


  .cls-19 {
    fill: #fff;
  }

  .cls-20 {
    fill: url(#linear-gradient);
  }

  .cls-21 {
    fill: url(#linear-gradient-2);
  }

  .cls-22 {
    fill: url(#linear-gradient-3);
  }

  .cls-23 {
    fill: url(#linear-gradient-4);
  }

  .cls-24 {
    fill: url(#linear-gradient-5);
  }

  .cls-25 {
    fill: url(#linear-gradient-6);
  }

  .cls-26 {
    fill: url(#linear-gradient-7);
  }

  .cls-27 {
    fill: url(#linear-gradient-8);
  }

  .cls-28 {
    fill: url(#linear-gradient-9);
  }

  .cls-29 {
    fill: url(#linear-gradient-10);
  }

  .cls-30 {
    fill: url(#linear-gradient-11);
  }

  .cls-31 {
    fill: url(#linear-gradient-12);
  }

  .cls-32 {
    fill: url(#linear-gradient-13);
  }

  .cls-33 {
    fill: url(#linear-gradient-14);
  }

  .cls-34 {
    fill: url(#linear-gradient-15);
  }

  .cls-35 {
    fill: url(#linear-gradient-16);
  }

  .cls-36 {
    fill: url(#linear-gradient-17);
  }

  .cls-37 {
    fill: url(#linear-gradient-18);
  }
}
#First_Floor {
  .cls-1 {
    isolation: isolate;
  }

  .cls-2 {
    fill: #abb6bb;
  }

  .cls-3 {
    fill: #acb6bc;
  }

  .cls-4 {
    fill: #7c858a;
  }

  .cls-5 {
    fill: #acb7bc;
  }

  .cls-6 {
    fill: #b2ba38;
  }

  .cls-7 {
    fill: #7f8725;
  }

  .cls-8 {
    fill: #bebebe;
  }

  .cls-9 {
    fill: #bfbfbf;
  }

  .cls-10 {
    fill: #858585;
  }

  .cls-11 {
    fill: #d2b517;
  }

  .cls-12 {
    fill: #d2b518;
  }

  .cls-13 {
    fill: #97830a;
  }

  .cls-14 {
    fill: #9486a6;
  }

  .cls-15 {
    fill: #9487a6;
  }

  .cls-16 {
    fill: #6c627a;
  }

  .cls-17 {
    fill: #8ca1a7;
  }

  .cls-18 {
    fill: #8da2a8;
  }

  .cls-19 {
    fill: #65767b;
  }

  .cls-20 {
    fill: #d2c89b;
  }

  .cls-21 {
    fill: #9b9474;
  }

  .cls-22 {
    fill: #a3bfd0;
  }

  .cls-23 {
    fill: #a3bfd1;
  }

  .cls-24 {
    fill: #768c9a;
  }

  .cls-25 {
    fill: #bea8bd;
  }

  .cls-26 {
    fill: #bea8be;
  }

  .cls-27 {
    fill: #8b7a8c;
  }

  .cls-28 {
    fill: #67b1d0;
  }

  .cls-29 {
    fill: #67b2d0;
  }

  .cls-30 {
    fill: #49829a;
  }

  .cls-31 {
    fill: #d4be69;
  }

  .cls-32 {
    fill: #d4be6a;
  }

  .cls-33 {
    fill: #998a4c;
  }

  .cls-34 {
    fill: #878787;
  }

  .cls-35 {
    font-size: 37.38px;
    fill: #231f20;
    font-family: MyriadPro-Regular, Myriad Pro;
  }

  .cls-36 {
    letter-spacing: -0.04em;
  }

  .cls-37 {
    fill: #ca491b;
  }

  .cls-38 {
    fill: #b44116;
  }

  .cls-39 {
    fill: #923206;
  }

  .cls-40 {
    fill: #a3390f;
  }

  .cls-41 {
    fill: #a93c12;
  }

  .cls-42 {
    fill: #b74217;
  }

  .cls-43 {
    fill: #c8491b;
  }

  .cls-44 {
    letter-spacing: 0em;
  }

  .cls-45 {
    letter-spacing: 0em;
  }

  .cls-46 {
    letter-spacing: -0.01em;
  }

  .cls-47 {
    fill: #fff;
  }

  .cls-48 {
    fill: url(#linear-gradient);
  }

  .cls-49 {
    fill: url(#linear-gradient-2);
  }

  .cls-50 {
    fill: url(#linear-gradient-3);
  }

  .cls-51 {
    fill: url(#linear-gradient-4);
  }

  .cls-52 {
    fill: url(#linear-gradient-5);
  }

  .cls-53 {
    fill: url(#linear-gradient-6);
  }

  .cls-54 {
    fill: url(#linear-gradient-7);
  }

  .cls-55 {
    fill: url(#linear-gradient-8);
  }

  .cls-56 {
    fill: url(#linear-gradient-9);
  }

  .cls-57 {
    fill: url(#linear-gradient-10);
  }

  .cls-58 {
    fill: url(#linear-gradient-11);
  }

  .cls-59 {
    fill: url(#linear-gradient-12);
  }

  .cls-60 {
    fill: url(#linear-gradient-13);
  }

  .cls-61 {
    fill: url(#linear-gradient-14);
  }

  .cls-62 {
    fill: url(#linear-gradient-15);
  }

  .cls-63 {
    fill: url(#linear-gradient-16);
  }

  .cls-64 {
    fill: url(#linear-gradient-17);
  }

  .cls-65 {
    fill: url(#linear-gradient-18);
  }

  .cls-66 {
    opacity: 0.56;
  }

  .cls-67 {
    fill: #a51725;
  }

  .cls-68 {
    fill: #a41724;
  }

  .cls-69 {
    fill: #7b0612;
  }
}
}
