page-map {
  .zoom {
    position: fixed;
    width: 100%;
    height: 100%;
    border: 1px solid black;
  }

  .controls {
    text-align: center;
  }

  .offscreen {
    position:absolute;
    left:-10000px;
    top:auto;
    width:1px;
    height:1px;
    overflow:hidden;
}

  .st0{enable-background:new    ;}
  .st1{fill:#ABB6BB;}
  .st2{fill:#ACB6BC;}
  .st3{fill:#7C858A;}
  .st4{fill:#ACB7BC;}
  .st5{fill:none;}
  .st6{fill:#808285;}
  .st7{font-family:'Verdana-Italic';}
  .st8{font-size:18px;}
  .st9{fill:none;stroke:#808285;stroke-width:9.3445;stroke-miterlimit:10;}
  .st10{display:none;}
  .st11{fill:#8EA0BF;}
  .st12{fill:#67758D;}
  .st13{fill:#387E93;}
  .st14{fill:#387E94;}
  .st15{fill:#235C6D;}
  .st16{fill:#BEBEBE;}
  .st17{fill:#BFBFBF;}
  .st18{fill:#858585;}
  .st19{fill:#B29C5F;}
  .st20{fill:#B39C5F;}
  .st21{fill:#817144;}
  .st22{fill:#AE3D1F;}
  .st23{fill:#AE3E1F;}
  .st24{fill:#802A0C;}
  .st25{fill:#465796;}
  .st26{fill:#313C6E;}
  .st27{fill:#D7DBDB;}
  .st28{font-family:'Verdana';}
  .st29{fill:#FFFFFF;}
  .st30{fill:none;stroke:#000000;stroke-width:2.8128;stroke-miterlimit:10;}
  .st31{fill:none;stroke:#000000;stroke-width:2.8128;stroke-miterlimit:10;stroke-dasharray:5.6376,5.6376;}
  .st32{fill:#8CA1A7;}
  .st33{fill:#8DA2A8;}
  .st34{fill:#65767B;}
  .st35{font-size:21.8037px;}
  .st36{fill:#B44116;}
  .st37{fill:#923206;}
  .st38{fill:#A3390F;}
  .st39{fill:#CA491B;}
  .st40{fill:#A93C12;}
  .st41{fill:#B74217;}
  .st42{fill:#C8491B;}
  .st43{font-family:'MyriadPro-Regular';}
  .st44{font-size:37.3778px;}
  .st45{fill:#629238;}
  .st46{fill:#639238;}
  .st47{fill:#436B25;}
  .st48{fill:#CB8A25;}
  .st49{fill:#CC8A26;}
  .st50{fill:#936313;}
  .st51{fill:#98AECE;}
  .st52{fill:none;stroke:#000000;stroke-width:2.8128;stroke-miterlimit:10;stroke-dasharray:5.6379,5.6379;}
  .st53{fill:#885E81;}
  .st54{fill:#885F82;}
  .st55{fill:#63435F;}
  .st56{fill:#D4BE69;}
  .st57{fill:#D4BE6A;}
  .st58{fill:#998A4C;}
  .st59{fill:#868686;}
  .st60{fill:#9C81BB;stroke:#ADACAD;stroke-width:2;stroke-miterlimit:10;}
  .st61{fill:#F9F9FA;}
  .st62{fill:none;stroke:#F9F9FA;stroke-width:9.3445;stroke-miterlimit:10;}
  .st63{display:inline;}
  .st64{fill:#475A27;}
  .st65{fill:#425525;}
  .st66{fill:#3C4E20;}
  .st67{fill:#3F5222;}
  .st68{fill:#405323;}
  .st69{fill:#435625;}
  .st70{fill:#465A27;}
  .st71{fill:#AFBF9D;}
  .st72{font-family:'Verdana-Bold';}
  .st73{font-size:17.7442px;}
  .st74{fill:none;stroke:#668389;stroke-width:2;stroke-miterlimit:10;}
  .st75{display:none;fill:#FFFFFF;}
  .st76{fill:url(#SVGID_1_);}
  .st77{fill:url(#SVGID_2_);}
  .st78{fill:url(#SVGID_3_);}
  .st79{fill:url(#SVGID_4_);}
  .st80{fill:url(#SVGID_5_);}
  .st81{fill:url(#SVGID_6_);}
  .st82{fill:url(#SVGID_7_);}
  .st83{fill:url(#SVGID_8_);}
  .st84{fill:url(#SVGID_9_);}
  .st85{fill:url(#SVGID_10_);}
  .st86{fill:url(#SVGID_11_);}
  .st87{fill:url(#SVGID_12_);}
  .st88{fill:url(#SVGID_13_);}
  .st89{fill:url(#SVGID_14_);}
  .st90{fill:url(#SVGID_15_);}
  .st91{fill:url(#SVGID_16_);}
  .st92{fill:url(#SVGID_17_);}
  .st93{fill:url(#SVGID_18_);}
  .st94{fill:url(#SVGID_19_);}
  .st95{fill:url(#SVGID_20_);}
  .st96{fill:url(#SVGID_21_);}
  .st97{fill:url(#SVGID_22_);}
  .st98{fill:url(#SVGID_23_);}
  .st99{fill:url(#SVGID_24_);}
  .st100{fill:url(#SVGID_25_);}
  .st101{fill:url(#SVGID_26_);}
  .st102{fill:url(#SVGID_27_);}
  .st103{fill:url(#SVGID_28_);}
  .st104{fill:url(#SVGID_29_);}
  .st105{fill:url(#SVGID_30_);}
  .st106{fill:url(#SVGID_31_);}
  .st107{fill:url(#SVGID_32_);}
  .st108{fill:url(#SVGID_33_);}
  .st109{fill:url(#SVGID_34_);}
  .st110{fill:url(#SVGID_35_);}
  .st111{fill:url(#SVGID_36_);}
  .st112{fill:url(#SVGID_37_);}
  .st113{fill:url(#SVGID_38_);}
  .st114{fill:url(#SVGID_39_);}
  .st115{fill:url(#SVGID_40_);}
  .st116{fill:url(#SVGID_41_);}
  .st117{fill:url(#SVGID_42_);}
  .st118{fill:url(#SVGID_43_);}
  .st119{fill:url(#SVGID_44_);}
  .st120{fill:url(#SVGID_45_);}
  .st121{fill:url(#SVGID_46_);}
  .st122{fill:url(#SVGID_47_);}
  .st123{fill:url(#SVGID_48_);}
  .st124{fill:url(#SVGID_49_);}
  .st125{fill:url(#SVGID_50_);}
  .st126{fill:url(#SVGID_51_);}
  .st127{fill:url(#SVGID_52_);}
  .st128{fill:url(#SVGID_53_);}
  .st129{fill:url(#SVGID_54_);}
  .st130{fill:#3C5EAB;}
  .st131{fill:url(#SVGID_55_);}
  .st132{fill:url(#SVGID_56_);}
  .st133{fill:url(#SVGID_57_);}
  .st134{fill:url(#SVGID_58_);}
  .st135{fill:url(#SVGID_59_);}
  .st136{fill:url(#SVGID_60_);}
  .st137{fill:url(#SVGID_61_);}
  .st138{fill:url(#SVGID_62_);}
  .st139{fill:#A73023;}
  .st140{font-size:22px;}
}
