page-map-access {
  .zoom {
    position: fixed;
    width: 100%;
    height: 89%;
    border: 1px solid black;
  }
  .controls {

      margin-left:auto;
      margin-right:auto;
      text-align:center;
    position: relative;
  }

  .cls-1 {
    isolation: isolate;
  }

  .cls-2 {
    fill: #abb6bb;
  }

  .cls-3 {
    fill: #acb6bc;
  }

  .cls-4 {
    fill: #7c858a;
  }

  .cls-5 {
    fill: #acb7bc;
  }

  .cls-6 {
    fill: #8ca1a7;
  }

  .cls-7 {
    fill: #8da2a8;
  }

  .cls-8 {
    fill: #65767b;
  }

  .cls-9 {
    fill: #bebebe;
  }

  .cls-10 {
    fill: #bfbfbf;
  }

  .cls-11 {
    fill: #858585;
  }

  .cls-12, .cls-30, .cls-86, .cls-88 {
    fill: #fff;
  }

  .cls-13, .cls-14, .cls-22, .cls-25, .cls-36, .cls-74, .cls-87 {
    fill: none;
  }

  .cls-13, .cls-14, .cls-22, .cls-87, .cls-88 {
    stroke: #231f20;
    stroke-width: 2.81px;
  }

  .cls-13, .cls-14, .cls-22, .cls-23, .cls-25, .cls-36, .cls-74, .cls-87, .cls-88 {
    stroke-miterlimit: 10;
  }

  .cls-14 {
    stroke-dasharray: 5.64 5.64;
  }

  .cls-15, .cls-19 {
    font-size: 37.38px;
  }

  .cls-15, .cls-19, .cls-29, .cls-55, .cls-58, .cls-68 {
    fill: #231f20;
  }

  .cls-15 {
    font-family: MyriadPro-Bold, Myriad Pro;
  }

  .cls-15, .cls-19, .cls-68, .cls-86 {
    font-weight: 700;
  }

  .cls-16 {
    letter-spacing: 0.01em;
  }

  .cls-17 {
    letter-spacing: -0.03em;
  }

  .cls-18 {
    letter-spacing: -0.04em;
  }

  .cls-19 {
    font-family: MyriadPro-Semibold, Myriad Pro;
  }

  .cls-20 {
    letter-spacing: 0em;
  }

  .cls-21 {
    letter-spacing: -0.01em;
  }

  .cls-22 {
    stroke-dasharray: 5.63 5.63;
  }

  .cls-23 {
    fill: #9c81bb;
    stroke: #adacad;
  }

  .cls-23, .cls-25 {
    stroke-width: 2px;
  }

  .cls-24 {
    fill: #868686;
  }

  .cls-25 {
    stroke: #668389;
  }

  .cls-26, .cls-28, .cls-30, .cls-31, .cls-32, .cls-38, .cls-44, .cls-54, .cls-55 {
    font-size: 18px;
  }

  .cls-26, .cls-38, .cls-44 {
    fill: #5d5e5e;
  }

  .cls-26, .cls-32, .cls-38, .cls-44, .cls-54, .cls-55, .cls-58 {
    font-family: Verdana, Verdana;
  }

  .cls-26, .cls-28, .cls-30, .cls-31, .cls-32, .cls-39 {
    letter-spacing: -0.02em;
  }

  .cls-27 {
    letter-spacing: -0.06em;
  }

  .cls-28, .cls-37 {
    fill: #808285;
  }

  .cls-28, .cls-29, .cls-30, .cls-31 {
    font-family: Verdana-Italic, Verdana;
    font-style: italic;
  }

  .cls-29 {
    font-size: 21px;
    letter-spacing: -0.02em;
  }

  .cls-31, .cls-75 {
    fill: #f9f9fa;
  }

  .cls-32, .cls-54 {
    fill: #edefef;
  }

  .cls-33 {
    letter-spacing: -0.04em;
  }

  .cls-34 {
    letter-spacing: -0.03em;
  }

  .cls-35 {
    letter-spacing: -0.04em;
  }

  .cls-36 {
    stroke: #808285;
  }

  .cls-36, .cls-74 {
    stroke-width: 9.34px;
  }

  .cls-38, .cls-54 {
    letter-spacing: -0.07em;
  }

  .cls-40 {
    letter-spacing: -0.12em;
  }

  .cls-41 {
    letter-spacing: -0.03em;
  }

  .cls-42 {
    letter-spacing: -0.05em;
  }

  .cls-43 {
    letter-spacing: -0.04em;
  }

  .cls-44 {
    letter-spacing: -0.03em;
  }

  .cls-45 {
    fill: #3c5eab;
  }

  .cls-46 {
    fill: url(#linear-gradient);
  }

  .cls-47 {
    fill: url(#linear-gradient-2);
  }

  .cls-48 {
    fill: url(#linear-gradient-3);
  }

  .cls-49 {
    fill: url(#linear-gradient-4);
  }

  .cls-50 {
    fill: url(#linear-gradient-5);
  }

  .cls-51 {
    fill: url(#linear-gradient-6);
  }

  .cls-52 {
    fill: url(#linear-gradient-7);
  }

  .cls-53 {
    fill: url(#linear-gradient-8);
  }

  .cls-55 {
    letter-spacing: -0.13em;
  }

  .cls-56 {
    letter-spacing: -0.03em;
  }

  .cls-57 {
    letter-spacing: -0.03em;
  }

  .cls-58 {
    font-size: 21.8px;
    letter-spacing: -0.03em;
  }

  .cls-59 {
    letter-spacing: -0.02em;
  }

  .cls-60 {
    fill: #7f6223;
  }

  .cls-61 {
    fill: #755a1f;
  }

  .cls-62 {
    fill: #654e16;
  }

  .cls-63 {
    fill: #6d541b;
  }

  .cls-64 {
    fill: #70561c;
  }

  .cls-65 {
    fill: #775b1f;
  }

  .cls-66 {
    fill: #7f6123;
  }

  .cls-67 {
    fill: #afbf9d;
  }

  .cls-68 {
    font-size: 17.74px;
    letter-spacing: -0.05em;
  }

  .cls-68, .cls-86 {
    font-family: Verdana-Bold, Verdana;
  }

  .cls-69 {
    fill: #923206;
  }

  .cls-70 {
    fill: #a3390f;
  }

  .cls-71 {
    fill: #ca491b;
  }

  .cls-72 {
    fill: #c8491b;
  }

  .cls-73 {
    fill: #b44116;
  }

  .cls-74 {
    stroke: #f9f9fa;
  }

  .cls-76 {
    fill: url(#linear-gradient-9);
  }

  .cls-77 {
    fill: url(#linear-gradient-10);
  }

  .cls-78 {
    fill: url(#linear-gradient-11);
  }

  .cls-79 {
    letter-spacing: -0.03em;
  }

  .cls-80 {
    fill: #a93c12;
  }

  .cls-81 {
    fill: #b74217;
  }

  .cls-82 {
    fill: #b64116;
  }

  .cls-83 {
    fill: #ac3d13;
  }

  .cls-84 {
    fill: #b34015;
  }

  .cls-85 {
    fill: #913106;
  }

  .cls-86 {
    font-size: 30px;
    letter-spacing: -0.02em;
  }

  .cls-87, .cls-88 {
    stroke-dasharray: 5.63 5.63;
  }
}
