page-map-access {
  .zoom {
    position: fixed;
    width: 100%;
    height: 89%;
    border: 1px solid black;
  }
  .controls {

      margin-left:auto;
      margin-right:auto;
      text-align:center;
    position: relative;
  }

  .cls-1 {
    isolation: isolate;
  }

  .cls-2 {
    fill: #abb6bb;
  }

  .cls-3 {
    fill: #acb6bc;
  }

  .cls-4 {
    fill: #7c858a;
  }

  .cls-5 {
    fill: #acb7bc;
  }

  .cls-6 {
    fill: #9486a6;
  }

  .cls-7 {
    fill: #9487a6;
  }

  .cls-8 {
    fill: #6c627a;
  }

  .cls-9 {
    fill: #8ca1a7;
  }

  .cls-10 {
    fill: #8da2a8;
  }

  .cls-11 {
    fill: #65767b;
  }

  .cls-12 {
    fill: #bebebe;
  }

  .cls-13 {
    fill: #bfbfbf;
  }

  .cls-14 {
    fill: #858585;
  }

  .cls-15,
  .cls-154,
  .cls-156,
  .cls-98 {
    fill: #fff;
  }

  .cls-104,
  .cls-142,
  .cls-155,
  .cls-16,
  .cls-17,
  .cls-25,
  .cls-28 {
    fill: none;
  }

  .cls-155,
  .cls-156,
  .cls-16,
  .cls-17,
  .cls-25 {
    stroke: #231f20;
    stroke-width: 2.81px;
  }

  .cls-104,
  .cls-142,
  .cls-155,
  .cls-156,
  .cls-16,
  .cls-17,
  .cls-25,
  .cls-26,
  .cls-28 {
    stroke-miterlimit: 10;
  }

  .cls-17 {
    stroke-dasharray: 5.64 5.64;
  }

  .cls-18,
  .cls-22 {
    font-size: 37.38px;
  }

  .cls-123,
  .cls-126,
  .cls-136,
  .cls-18,
  .cls-22,
  .cls-92,
  .cls-97 {
    fill: #231f20;
  }

  .cls-136,
  .cls-154,
  .cls-18,
  .cls-22,
  .cls-93 {
    font-weight: 700;
  }

  .cls-19 {
    letter-spacing: 0.01em;
  }

  .cls-20 {
    letter-spacing: -0.03em;
  }

  .cls-21 {
    letter-spacing: -0.04em;
  }

  .cls-23 {
    letter-spacing: 0;
  }

  .cls-24 {
    letter-spacing: -0.01em;
  }

  .cls-25 {
    stroke-dasharray: 5.63 5.63;
  }

  .cls-26 {
    fill: #9c81bb;
    stroke: #adacad;
  }

  .cls-26,
  .cls-28 {
    stroke-width: 2px;
  }

  .cls-27 {
    fill: #868686;
  }

  .cls-28 {
    stroke: #668389;
  }

  .cls-29 {
    fill: url("#linear-gradient");
  }

  .cls-30 {
    fill: url("#linear-gradient-2");
  }

  .cls-31 {
    fill: url("#linear-gradient-3");
  }

  .cls-32 {
    fill: url("#linear-gradient-4");
  }

  .cls-33 {
    fill: url("#linear-gradient-5");
  }

  .cls-34 {
    fill: url("#linear-gradient-6");
  }

  .cls-35 {
    fill: url("#linear-gradient-7");
  }

  .cls-36 {
    fill: url("#linear-gradient-8");
  }

  .cls-37 {
    fill: url("#linear-gradient-9");
  }

  .cls-38 {
    fill: url("#linear-gradient-10");
  }

  .cls-39 {
    fill: url("#linear-gradient-11");
  }

  .cls-40 {
    fill: url("#linear-gradient-12");
  }

  .cls-41 {
    fill: url("#linear-gradient-13");
  }

  .cls-42 {
    fill: url("#linear-gradient-14");
  }

  .cls-43 {
    fill: url("#linear-gradient-15");
  }

  .cls-44 {
    fill: url("#linear-gradient-16");
  }

  .cls-45 {
    fill: url("#linear-gradient-17");
  }

  .cls-46 {
    fill: url("#linear-gradient-18");
  }

  .cls-47 {
    fill: url("#linear-gradient-19");
  }

  .cls-48 {
    fill: url("#linear-gradient-20");
  }

  .cls-49 {
    fill: url("#linear-gradient-21");
  }

  .cls-50 {
    fill: url("#linear-gradient-22");
  }

  .cls-51 {
    fill: url("#linear-gradient-23");
  }

  .cls-52 {
    fill: url("#linear-gradient-24");
  }

  .cls-53 {
    fill: url("#linear-gradient-25");
  }

  .cls-54 {
    fill: url("#linear-gradient-26");
  }

  .cls-55 {
    fill: url("#linear-gradient-27");
  }

  .cls-56 {
    fill: url("#linear-gradient-28");
  }

  .cls-57 {
    fill: url("#linear-gradient-29");
  }

  .cls-58 {
    fill: url("#linear-gradient-30");
  }

  .cls-59 {
    fill: url("#linear-gradient-31");
  }

  .cls-60 {
    fill: url("#linear-gradient-32");
  }

  .cls-61 {
    fill: url("#linear-gradient-33");
  }

  .cls-62 {
    fill: url("#linear-gradient-34");
  }

  .cls-63 {
    fill: url("#linear-gradient-35");
  }

  .cls-64 {
    fill: url("#linear-gradient-36");
  }

  .cls-65 {
    fill: url("#linear-gradient-37");
  }

  .cls-66 {
    fill: url("#linear-gradient-38");
  }

  .cls-67 {
    fill: url("#linear-gradient-39");
  }

  .cls-68 {
    fill: url("#linear-gradient-40");
  }

  .cls-69 {
    fill: url("#linear-gradient-41");
  }

  .cls-70 {
    fill: url("#linear-gradient-42");
  }

  .cls-71 {
    fill: url("#linear-gradient-43");
  }

  .cls-72 {
    fill: url("#linear-gradient-44");
  }

  .cls-73 {
    fill: url("#linear-gradient-45");
  }

  .cls-74 {
    fill: url("#linear-gradient-46");
  }

  .cls-75 {
    fill: url("#linear-gradient-47");
  }

  .cls-76 {
    fill: url("#linear-gradient-48");
  }

  .cls-77 {
    fill: url("#linear-gradient-49");
  }

  .cls-78 {
    fill: url("#linear-gradient-50");
  }

  .cls-79 {
    fill: url("#linear-gradient-51");
  }

  .cls-80 {
    fill: url("#linear-gradient-52");
  }

  .cls-81 {
    fill: url("#linear-gradient-53");
  }

  .cls-82 {
    fill: url("#linear-gradient-54");
  }

  .cls-83 {
    fill: url("#linear-gradient-55");
  }

  .cls-84 {
    fill: url("#linear-gradient-56");
  }

  .cls-85 {
    fill: url("#linear-gradient-57");
  }

  .cls-86 {
    fill: url("#linear-gradient-58");
  }

  .cls-87 {
    fill: url("#linear-gradient-59");
  }

  .cls-88 {
    fill: url("#linear-gradient-60");
  }

  .cls-89 {
    fill: url("#linear-gradient-61");
  }

  .cls-90 {
    fill: url("#linear-gradient-62");
  }

  .cls-91 {
    fill: url("#linear-gradient-63");
  }

  .cls-93,
  .cls-97 {
    font-size: 21px;
    letter-spacing: -0.02em;
  }

  .cls-93 {
    fill: #f2f0f1;
  }

  .cls-100,
  .cls-106,
  .cls-112,
  .cls-122,
  .cls-123,
  .cls-94,
  .cls-96,
  .cls-98,
  .cls-99 {
    font-size: 18px;
  }

  .cls-106,
  .cls-112,
  .cls-94 {
    fill: #5d5e5e;
  }

  .cls-100,
  .cls-106,
  .cls-112,
  .cls-122,
  .cls-123,
  .cls-126,
  .cls-94 {
    font-family: Verdana, Verdana;
  }

  .cls-100,
  .cls-107,
  .cls-94,
  .cls-96,
  .cls-98,
  .cls-99 {
    letter-spacing: -0.02em;
  }

  .cls-95 {
    letter-spacing: -0.06em;
  }

  .cls-105,
  .cls-96 {
    fill: #808285;
  }

  .cls-96,
  .cls-97,
  .cls-98,
  .cls-99 {
    font-family: Verdana-Italic, Verdana;
    font-style: italic;
  }

  .cls-143,
  .cls-99 {
    fill: #f9f9fa;
  }

  .cls-100,
  .cls-122 {
    fill: #edefef;
  }

  .cls-101 {
    letter-spacing: -0.04em;
  }

  .cls-102 {
    letter-spacing: -0.03em;
  }

  .cls-103 {
    letter-spacing: -0.04em;
  }

  .cls-104 {
    stroke: #808285;
  }

  .cls-104,
  .cls-142 {
    stroke-width: 9.34px;
  }

  .cls-106,
  .cls-122 {
    letter-spacing: -0.07em;
  }

  .cls-108 {
    letter-spacing: -0.12em;
  }

  .cls-109 {
    letter-spacing: -0.03em;
  }

  .cls-110 {
    letter-spacing: -0.05em;
  }

  .cls-111 {
    letter-spacing: -0.04em;
  }

  .cls-112 {
    letter-spacing: -0.03em;
  }

  .cls-113 {
    fill: #3c5eab;
  }

  .cls-114 {
    fill: url("#linear-gradient-64");
  }

  .cls-115 {
    fill: url("#linear-gradient-65");
  }

  .cls-116 {
    fill: url("#linear-gradient-66");
  }

  .cls-117 {
    fill: url("#linear-gradient-67");
  }

  .cls-118 {
    fill: url("#linear-gradient-68");
  }

  .cls-119 {
    fill: url("#linear-gradient-69");
  }

  .cls-120 {
    fill: url("#linear-gradient-70");
  }

  .cls-121 {
    fill: url("#linear-gradient-71");
  }

  .cls-123 {
    letter-spacing: -0.13em;
  }

  .cls-124 {
    letter-spacing: -0.03em;
  }

  .cls-125 {
    letter-spacing: -0.03em;
  }

  .cls-126 {
    font-size: 21.8px;
    letter-spacing: -0.03em;
  }

  .cls-127 {
    letter-spacing: -0.02em;
  }

  .cls-128 {
    fill: #7f6223;
  }

  .cls-129 {
    fill: #755a1f;
  }

  .cls-130 {
    fill: #654e16;
  }

  .cls-131 {
    fill: #6d541b;
  }

  .cls-132 {
    fill: #70561c;
  }

  .cls-133 {
    fill: #775b1f;
  }

  .cls-134 {
    fill: #7f6123;
  }

  .cls-135 {
    fill: #afbf9d;
  }

  .cls-136 {
    font-size: 17.74px;
    letter-spacing: -0.05em;
  }

  .cls-137 {
    fill: #923206;
  }

  .cls-138 {
    fill: #a3390f;
  }

  .cls-139 {
    fill: #ca491b;
  }

  .cls-140 {
    fill: #c8491b;
  }

  .cls-141 {
    fill: #b44116;
  }

  .cls-142 {
    stroke: #f9f9fa;
  }

  .cls-144 {
    fill: url("#linear-gradient-72");
  }

  .cls-145 {
    fill: url("#linear-gradient-73");
  }

  .cls-146 {
    fill: url("#linear-gradient-74");
  }

  .cls-147 {
    letter-spacing: -0.03em;
  }

  .cls-148 {
    fill: #a93c12;
  }

  .cls-149 {
    fill: #b74217;
  }

  .cls-150 {
    fill: #b64116;
  }

  .cls-151 {
    fill: #ac3d13;
  }

  .cls-152 {
    fill: #b34015;
  }

  .cls-153 {
    fill: #913106;
  }

  .cls-154 {
    font-size: 30px;
    letter-spacing: -0.02em;
  }

  .cls-155,
  .cls-156 {
    stroke-dasharray: 5.63 5.63;
  }
}
