page-map-index {

  .card {
    background-color:#FF9624;
    height:45%;
    margin:2%;
    .card-title {
      font-size:3em;
      color:#fff;
    }
    .card-subtitle {
      font-size:1.5em;
      color:#fff;
      margin-top:2%;
    }
  }
}
