<ion-navbar color="primary">
    <ion-title>{{title | translate}}</ion-title>
    <ion-buttons end *ngIf="checkDisplay(title)">
       <!--//button ion-button (click)="goHome()">
           <ion-icon name="home"></ion-icon>
       </button//-->
       <button ion-button (click)="openTranscript($event, selectedItem)" *ngIf="checkButton() == 'audioBtn'">
          {{ "transcript_link" | translate }} <img src="assets/images/audio_white.png" class="header_img_btn"/>
       </button>
   </ion-buttons>
</ion-navbar>
