page-content {
  .transcript_link {
    img {
      width:40px;
      height:40px;
    }
  }

  .background-image {
      background-size: cover;
      background-position: center;
      height: 100vw;
  }

  .main-content {
      padding: 20px;
      background-color: white;
      position: absolute;
  }
}
