<ion-header>
  <app-title [title]="'send_postcards' | translate" [specialButton]="specialBtn" [selectedItem]="selectedItem"></app-title>
</ion-header>

<ion-content>
  <div class="img_container" *ngIf="base64Image && postcardMessageText">
      <img [src]="base64Image" class="preview" [text]="postcardData.message" [bkg]="postcardData.bkg" draw-text crossOrigin id="finalPostcard">
  </div>

  <div padding class="postcard_content">
    <div *ngIf="!postcardBkgImage" class="bkg_image_container">
      <p>{{ 'postcard_step_one' | translate }}</p>
        <img [src]="img" *ngFor="let img of bkg_imgs" (click)="selectBkgImg(img)">
    </div>


    <div *ngIf="!base64Image && postcardBkgImage" class="camera_container">
      <p>{{ 'postcard_step_two' | translate }}</p>
      <button *ngIf="!base64Image" ion-button (click)="takePicture()" icon-right>{{'take_picture' | translate }} <ion-icon name="camera"></ion-icon></button>
    </div>



    <div *ngIf="base64Image && postcardBkgImage && !postcardMessageText" class="text_container">
      <p>{{ 'postcard_step_three' | translate }}</p>
      <form [formGroup]="postcard" (ngSubmit)="reviewPostcard()">
        <ion-label stacked>{{ 'postcard_message_label' | translate }}</ion-label>
        <ion-textarea formControlName="message" [placeholder]="'postcard_message_placeholder' | translate" class="message" [attr.maxlength]="200"></ion-textarea>
      <button ion-button type="submit" [disabled]="!postcard.valid">Review Postcard</button>
      </form>
    </div>

    <div *ngIf="postcardMessageText">
      <ion-card>
        <ion-row no-padding>
          <ion-col>
            <p>{{ 'postcard_review' | translate }}</p>
            <button ion-button (click)="sendEmail()">{{ 'postcard_send' | translate }}</button>
          </ion-col>
        </ion-row>
      </ion-card>
    </div>
  </div>
</ion-content>
