<ion-header><app-title [title]="'toolbar.postcards' | translate"></app-title></ion-header>
<ion-content>


  <div padding class="postcard_content">
<div *ngIf="!postcardBkgImage">
  <div [innerHTML]="'postcard.intro.content' | translate"></div>
    <div *ngIf="!postcardBkgImage" class="bkg_image_container">
      <p>{{ 'postcard.steps.one.instructions.content' | translate }}</p>
        <img [src]="img" *ngFor="let img of bkg_imgs" (click)="selectBkgImg(img)">
    </div>
</div>

    <div *ngIf="!base64Image && postcardBkgImage" class="camera_container">
      <div class="preview_container">
        <div class="preview_content_container">
          <img [src]="postcardData.bkg" class="preview bkg">
        </div>
        <div class="preview_instructions_container">
          <p>{{ 'postcard.steps.two.instructions.content' | translate }}</p>
          <button ion-button (click)="takePicture()" icon-right>{{'postcard.steps.two.buttons.take_picture' | translate }} <ion-icon name="camera"></ion-icon></button>
          <button ion-button (click)="stepBack()" icon-left><ion-icon name="backspace"></ion-icon> {{'postcard.steps.two.buttons.camera_back' | translate }}</button>
        </div>
      </div>
    </div>



    <div *ngIf="base64Image && postcardBkgImage && !postcardMessageText" class="text_container">
      <div class="preview_content_container" *ngIf="base64Image">
        <img [src]="base64Image" class="preview bkg">
      </div>
      <div class="preview_instructions_container">
        <p *ngIf="base64Image">{{ 'postcard.steps.three.instructions.withimage.content' | translate }}</p>
        <form [formGroup]="postcard" (ngSubmit)="reviewPostcard()">
          <ion-label stacked>{{ 'postcard.steps.three.message.label' | translate }}</ion-label>
          <ion-textarea formControlName="message" [placeholder]="'postcard.steps.three.message.placeholder_text' | translate" class="message" [attr.maxlength]="140"></ion-textarea>
        <button ion-button type="submit" [disabled]="!postcard.valid" icon-right>{{'postcard.steps.three.buttons.finish' | translate }} <ion-icon name="checkmark-circle"></ion-icon></button>
        </form>
        <button ion-button (click)="stepBack()" icon-left><ion-icon name="backspace"></ion-icon> {{'postcard.steps.three.buttons.message_back' | translate }}</button>
      </div>


    </div>

    <div *ngIf="postcardMessageText">

        <ion-row no-padding class="postcard_review">
          <ion-col [ngClass]="postcardLoaded ? 'hidden' :''" style="text-align:center;">
              <ion-spinner></ion-spinner>
              <p>{{'postcard.steps.finished.loading_text' | translate }}</p>
          </ion-col>
          <ion-col  [ngClass]="postcardLoaded ? '' :'hidden'">
            <ion-card class="img_container" *ngIf="base64Image && postcardMessageText">
                <img [src]="base64Image" [text]="postcardData.message" [bkg]="postcardData.bkg" draw-text crossOrigin id="finalPostcard" [photoFlag]="photoFlag">
          </ion-card>
            <p>{{ 'postcard.steps.finished.review_text' | translate }}</p>
            <button ion-button (click)="otherShare()" icon-right>{{ 'postcard.steps.finished.buttons.send' | translate }} <ion-icon name="send"></ion-icon></button>
            <button ion-button (click)="startOver()" icon-left><ion-icon name="undo"></ion-icon> {{ 'postcard.steps.finished.buttons.startover' | translate }}</button>
          </ion-col>
        </ion-row>
    </div>
  </div>
</ion-content>
