page-postcard {

  .bkg_image_container {
    img {
      width: 30%;
      margin:1%;
    }
  }
  .img_container {
    text-align: center;
    img {
      margin-left:auto;
      margin-right:auto;
      border:1px solid black;
    }
    .preview {
      width:50%;
    }
  }
  form {
    .message {
        width:100%;
    }
    .text_color {
      width:25%;
      height:50px;
      display:block;
    }
  }
  div.postcardContainer {
      background-color:green;
  }

  .label[stacked] {
    font-size: 2rem;
  }
  ion-textarea {
    border:1px solid #ccc;
    border-radius: 5px;
  }

}
