page-postcard {
  .hidden {
    display:none;
  }
  .preview {
  }
  .preview_photo,
  .preview_bkg,
  .preview_content_container,
  .preview_instructions_container {
    display:table-cell;
    vertical-align:top;
  }
  .preview_instructions_container {
    padding-left:20px;
  }
  .preview_photo,
  .preview_bkg {
    width:5%;
  }
  .postcard_review{
    text-align:center;
    margin-left:auto;
    margin-right:auto;
  }
  .bkg_image_container {
    img {
      width: 30%;
      margin:1%;
    }
  }
  .img_container {
    text-align: center;
    img {
      margin-left:auto;
      margin-right:auto;
      border:1px solid black;
    }
  }
  form {
    .message {
        width:100%;
    }
    .text_color {
      width:25%;
      height:50px;
      display:block;
    }
  }
  div.postcardContainer {
      background-color:green;
  }

  .label[stacked] {
    font-size: 2rem;
  }
  ion-textarea {
    border:1px solid #ccc;
    border-radius: 5px;
  }
  textarea{
    height:100px;
  }
  ion-spinner * {
    stroke: #444;
    fill: #222;
  }

  button {
    &.active {
      background-color:#77AD44;
    }
    &.inactive{
      background-color: #CCCCCC;
    }
  }
  .hidden {
    display:none;
  }
  .warning {
    color:#CD4927;
  }
}
