<ion-header>
  <app-title [title]="pageTitle | translate"></app-title>
</ion-header>

<ion-content *ngIf="!selectedItem">
  <ion-card>

    <img src="assets/images/ncar.png">
    <ion-card-content [innerHTML]="'visitor_intro' | translate"></ion-card-content>
  </ion-card>

  <ion-card>
    <ion-card-header>
      <ion-icon name="pin" item-start large></ion-icon>
      {{'visitor_address_title' | translate}}
    </ion-card-header>
    <ion-card-content [innerHtml]= "'visitor_address_content' | translate">
      <p><button ion-button icon-left (click)="sharedVars.launch('https://goo.gl/maps/rfNPnQzivMM2')">
      <ion-icon name="navigate"></ion-icon>
      {{'visitor_address_content_button_text' | translate }}
    </button></p>
    </ion-card-content>
  </ion-card>
  <ion-card>
    <ion-card-header>
      <ion-icon name="clock" large item-start></ion-icon>
      {{ 'visitor_hours_title' | translate }}
    </ion-card-header>
    <ion-card-content [innerHtml]="'visitor_hours_content' | translate ">
    </ion-card-content>
  </ion-card>

  <ion-card>
    <ion-card-header>
      <ion-icon name="clock" large item-start></ion-icon>
      {{ 'visitor_tours_title' | translate }}
    </ion-card-header>
    <ion-card-content [innerHtml]="'visitor_tours_content' | translate">
      <button ion-button icon-left (click)="sharedVars.launch('https://scied.ucar.edu/visit/ncar-public-tours')">
        <ion-icon name="information-circle"></ion-icon>
        {{ 'visitor_tours_content_button_text' | translate }}
      </button>
    </ion-card-content>
  </ion-card>
  <ion-card>
    <ion-card-header>
      <ion-icon name="pizza" large item-start></ion-icon>
      {{'visitor_cafeteria_title' | translate}}
    </ion-card-header>
    <ion-card-content [innerHtml]="'visitor_cafeteria_content' | translate">
    </ion-card-content>
  </ion-card>
  <ion-card>
    <ion-card-header>
      <img src="assets/images/accessible.jpg" class="custom_icon" /> {{ 'visitor_accessibility_title' | translate}}
    </ion-card-header>
    <ion-card-content>
      <ion-list>
        <button ion-item (click)="openPage($event, 'parking')">
         {{ 'visitor_accessibility_parking' | translate}}
      </button>
        <button ion-item (click)="openPage($event, 'elevators')">
           {{ 'visitor_accessibility_elevators' | translate}}
        </button>
        <button ion-item (click)="openPage($event, 'restrooms')">
             {{ 'visitor_accessibility_restrooms' | translate}}
          </button>

      </ion-list>

      <p [innerHtml]="'visitor_accessibility_content' | translate"></p>
       <button ion-button icon-left (click)="sharedVars.launch('https://scied.ucar.edu/visit/accessibility-ncar-mesa-lab-visitor-center')">{{'visitor_accessibility_content_button_text'| translate}}</button>
    </ion-card-content>
  </ion-card>

</ion-content>

<ion-content *ngIf="selectedItem == 'parking'">
  <ion-card>
    <ion-card-content>
      <ion-card-title>{{pageTitle | translate}}</ion-card-title>
      <p [innerHtml]="'visitor_accessiblity_parking_intro'| translate"></p>
        <ion-card-title [innerHtml]="'visitor_accessibility_parking_title1' | translate"></ion-card-title>
        <p [innerHtml]="'visitor_accessibility_parking_content1' | translate"></p>
        <ion-card-title [innerHtml]="'visitor_accessibility_parking_title2' | translate"></ion-card-title>
        <p [innerHtml]="'visitor_accessibility_parking_content2' | translate"></p>
    </ion-card-content>
  </ion-card>
</ion-content>

<ion-content *ngIf="selectedItem == 'elevators'">
  <ion-card>
    <ion-card-content>
      <ion-card-title>{{pageTitle | translate}}</ion-card-title>
      <p [innerHtml]="'visitor_accessibility_elevators_intro' | translate"></p>
    </ion-card-content>
  </ion-card>
</ion-content>

<ion-content *ngIf="selectedItem == 'restrooms'">
  <ion-card>
    <ion-card-content>
      <ion-card-title>{{pageTitle | translate}}</ion-card-title>
      <p [innerHtml]="'visitor_accessibility_restrooms_intro' | translate"></p>
    </ion-card-content>
  </ion-card>
</ion-content>
