page-exhibitslist
 {
   .spinner-container {
           width: 100%;
           text-align: center;
           padding: 10px;
       }
    ion-list-header{
      &.weather {
        background-color: #cc8a25 !important;
      }
      &.climate {
        background: #629339 url(../assets/images/sections/headers/climate.png) !important;
      }
      &.sun-earth {
        background: #ae3d1f url(../assets/images/sections/headers/sunearth.png) !important;
      }
      &.atmosphere {
        background: #000000 url(../assets/images/sections/headers/atmosphere.png) !important;
      }
      &.supercomputers {
        background: #367e94 url(../assets/images/sections/headers/supercomputers.png) !important;
      }
      &.architecture {
        background: #b29c5f url(../assets/images/sections/headers/architecture.png) !important;
      }
      &.aq {
        background: #98afcf url(../assets/images/sections/headers/aq.png) !important;
      }
      &.trail {
        background: #3b4e20 url(../assets/images/sections/headers/trail.png) !important;
      }
    }
}
