page-exhibitslist
 {
   .spinner-container {
           width: 100%;
           text-align: center;
           padding: 10px;
       }
       .highlight {
         color:red;
       }
    ion-list-header{
      &.weather {
        background-color: #F4A42E !important;
      }
      &.climate {
        background-color: #77AD44 !important;
      }
      &.sunearth {
        background-color: #CD4927 !important;
      }
      &.atmosphere {
        background-color: #664EA0 !important;
      }
      &.supercomputers {
        background-color: #4394AD !important;
      }
      &.architecture {
        background-color: #D6B972 !important;
      }
      &.aq {
        background-color: #A8BDE2 !important;
      }
      &.trail {
        background-color: #4D612C !important;
      }
      &.art {
        background-color: #5468B1 !important;
      }
      &.misc {
        background-color: #A17099 !important;
      }
      ion-label {
        font-size: 1.5em;
      }
      ion-label.label-md {
        font-weight:bold;
      }
    }
}
